
p{text-align: center;color:#473AAB;}
h2{}
ul{color:#352D76;}
<<<<<<< HEAD
  <!-- colors from left to right #171124</li>#352D76</li>#473AAB</li>#661971</li>#F8EAFD</li> -->

/* payment page */


/*Index page*/
.btn-outline-primary{color:#661971;}


/* Contact page */


body {
  padding: 20px 0;
  font-family: Lato, sans-serif;
}



=======
  
/*colour palette everything*/
colors from left to right #171124</li>#352D76</li>#473AAB</li>#661971</li>#F8EAFD
>>>>>>> 0f48ea18ecc154d23f295dff39d4abca3fb9921e
