
p{text-align: center;color:#473AAB;}
h2{}
ul{color:#352D76;}
<<<<<<< HEAD
  /* colors from left to right #171124</li>#352D76</li>#473AAB</li>#661971</li>#F8EAFD</li> */

/* payment page */




/*Index page*/
.btn-outline-primary{color:#661971;}





=======
/*about us page*/
.about-us {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
/*Customized services page*/
#font-id1{color:#F8EAFD;}
#font-id2{color:#F8EAFD}

/* Services page */
#font-id3{color:#F8EAFD;}

  
/*colour palette everything*/
colors from left to right #171124</li>#352D76</li>#473AAB</li>#661971</li>#F8EAFD
>>>>>>> 0f48ea18ecc154d23f295dff39d4abca3fb9921e
